.row-macro      .rdg-cell { background:#46ABAB;  color:#fff; } /* Teal        */
.row-comment    .rdg-cell { background:#AB00AD;  color:#fff; } /* Purple L2   */
.row-audio      .rdg-cell { background:#007BE7;  color:#000; } /* Blue L1     */
.row-trigger    .rdg-cell { background:#FF9800;  color:#000; } /* Orange      */
.row-time       .rdg-cell { background:#BABAC4;  color:#fff; } /* Pink        */
.row-scheduled  .rdg-cell { background:#9C27B0;  color:#fff; } /* Purple      */
.row-info       .rdg-cell { background:#C3C4CF;  color:#fff; } /* Indigo      */
.row-status-s   .rdg-cell { background:#F44336;  color:#fff; }
.row-music      .rdg-cell { background:#0005D6;  color:#fff; }
.row-spots      .rdg-cell { background:#00A600;  color:#fff; }
.row-voicetrack .rdg-cell { background:#E5E400;  color:#000; }
.row-carts      .rdg-cell { background: #3097FF;  color:#fff; }
.row-fill       .rdg-cell { background: #da1ca3;  color:#fff; }